<p>This is the about view.</p>

<div ng-controller="AboutMe as people">
  <div ng-repeat="person in people.details">
    <ul class="list-group">
      <li class="list-group-item">Name: {{ person.name | capitalize }}</li>
      <li class="list-group-item">Age: {{ person.age }} years old</li>
      <li class="list-group-item">Profession: {{ person.profession | capitalize }}.</li>
    </ul>

    <button ng-show="me.details.isFit">I am fit</button>

    <div ng-show="people.details[0].lovesChocolate">
      <p>I love chocolate!</p>
    </div>
    <div ng-hide="people.details[0].lovesChocolate">
      <p>I hate chocolate (obvs this won't be shown!)</p>
    </div>

    <hr />
  </div>

</div>
